<h1>Inicia Sesion pavote</h1>

<form action="/api/sessions/login" method="post">
    <label for="">Email
        <input type="text" name="email">
    </label>
    <label for="">Password
        <input type="text" name="password">
    </label>
    <button>LOGIN</button>
    <br>
    <a href="/register">Registrate</a>
</form>