<h1>Registrate querido</h1>

<form action="/api/users" method="post">
    <label for="">Nombre
        <input type="text" name="first_name" id="">
    </label>
    <br>
    <label for="">Apellido
        <input type="text" name="last_name" id="">
    </label>
    <br>
    <label for="">Email
        <input type="text" name="email" id="">
    </label>
    <br>
    <label for="">Password
    <input type="text" name="password" id="">
    </label>
    <br>
    <button>Registrate</button>
</form>
<br>
<a href="/api/sessions/login">Inicia sesion</a>